* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    
}

.order {
    width: 330px;
    background-color: white;
    text-align: justify;
    padding: 30px;
}

.plan {
    background-color: white;
    display: flex;
    
}